body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  #video-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  #video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#exit-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    display: none;
}